* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
* {
    font-size: 62.5%;
}
.header{
    display: flex;
}
h1, ul{
    width: 100%;
    height: 100%;
}
.header ul li {
    display: inline-block;
    margin: 5px;
}